

@import "footer";
@import "headerNav";
@import "resetCSS";
@import "imagenes/main";




@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Roboto:wght@100;300;400;500;700&display=swap');


/*======================================*/
/*INDEX*/
/*======================================*/
body {
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(../images/bannerimg.jpg);
}
#main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}


/*======================================*/
/*SECCION BANNER*/
/*======================================*/
#banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:unset;
}
/*CONTENIDO*/
#banner .banner__contenido {
    position: absolute;
    top: 0;
    width: 50%;
    padding-left: 40px;
    text-align: center;
}
.banner__titulo , 
.banner__parrafo , 
.banner__boton {
    margin-top: 50px;
}

/*CONTENIDO TITULO*/
.banner__titulo h1 {
    color: #dc3c3c;
    font-size: 20px;
}
.banner__titulo h2 {
    margin-top: 20px;
    color: white;
    font-size: 40px;
}

/*CONTENIDO PARRAFO*/
.banner__parrafo p {
    font-size: 18px;
}

/*CONTENIDO BOTON*/
.banner__boton {
    width: 120px;
    height: 40px;
    background-color: #f0943e;
    border-radius: 10px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner__boton a {
    color: rgb(255, 255, 255);
    font-weight: 600;
    width: 100%;
    height: 100%;
}

.banner__boton:active {
    background-color: rgb(140, 220, 193);
}
.banner__boton a:hover {
    color: black;
}

/*======================================*/
/*SECTION SERVICIOS*/
/*======================================*/
#servicios {
    background-image: linear-gradient(to bottom, blue, rgba(83, 163, 67, 0.63));
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#servicios .serviciosBox {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

/*======================================*/
/*TRANSFORM= TRANSLATE*/
/*SE PUEDEN LLAMAR INDIVIDUALMENTE A CADA EJE*/
/*======================================*/
.servicios__pasajes {
    transition: 1s;
}
.servicios__pasajes:active {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.616);
    transition: 1s;

    /*PRIMER VALOR EJE X Y SEGUNDO VALOR EJE Y:
    
    VALORES POSITIVOS= MUEVEN A EL ELEMENTO (DERECHA/ABAJO)
    VALORES NEGATIVOS= MUEVEN AL ELEMENTO (IZQUIERDA/ARRIBA)

    El X positivo es de izq a der y el Y positivo es de arriba a abajo
    */
                        /*X      Y*/
    transform: translate(-10px, -10px);
}
/*======================================*/
/*TRANSFORM= ROTATE*/
/*======================================*/
.servicios__precios {
    transition: 1s;
}
.servicios__precios:active {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.616);
    transition: 1s;

    transform: rotate(360deg , 360deg);
}


/*======================================*/
/*TRANSFORM= SCALE*/
/*======================================*/
.servicios__hoteles {
    transition: 1s;
    transform: scale(.8 , .8);
}
.servicios__hoteles img {
    transition: 1s;
}
.servicios__hoteles img:hover {
    filter: drop-shadow(5px 5px 4px #111111);
    transition: 1s;
    /*PRIMER VALOR EJE X (HORIZONTAL) Y SEGUNDO VALOR EJE Y (VERTICAL):
    
    VALORES ENTRE/MENORES  1/0 (ACHICAN)
    */
    
    transform: scale(1.2 , 1.2);
}

/*======================================*/
/*TRANSFORM= SKEW*/
/*======================================*/
.servicios__herramientas {
    transition: 1s;
    transform: scale(.8 , .8);
}
.servicios__herramientas:hover {
    filter: drop-shadow(5px 5px 4px #111111);
    transition: 1s;
    /*PRIMER VALOR EJE X (HORIZONTAL) Y SEGUNDO VALOR EJE Y (VERTICAL):
    
    VALORES ENTRE/MENORES  1/0 (ACHICAN)
    */
    
    transform: skewY(40deg);
}
/*======================================*/
/*ANIMACIÓN*/
/*======================================*/
.servicios__herramientas {
    -webkit-animation: rotate-diagonal-1 1s linear 1s infinite both;
	        animation: rotate-diagonal-1 1s linear 1s infinite both;
}
@-webkit-keyframes rotate-diagonal-1 {
    0% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: rotate3d(1, 1, 0, -180deg);
              transform: rotate3d(1, 1, 0, -180deg);
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, -360deg);
              transform: rotate3d(1, 1, 0, -360deg);
    }
  }
  @keyframes rotate-diagonal-1 {
    0% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: rotate3d(1, 1, 0, -180deg);
              transform: rotate3d(1, 1, 0, -180deg);
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, -360deg);
              transform: rotate3d(1, 1, 0, -360deg);
    }
  }















#servicios .serviciosBox article {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#servicios h2 {
    letter-spacing: 4px;
}
#servicios img {
    width: 55px;
}

/*======================================*/
/*SECTION DESTINOS*/
/*======================================*/
#destinos {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.destinosBox {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

}
#destinos h2 {
    letter-spacing: 4px;
}

/*CONTENIDO*/
.destino1,
.destino2,
.destino3 {
    background-color: #d9d9d9;
    border-radius: 20px;
    padding-bottom: 25px;
}
.destino1 h3,
.destino2 h3,
.destino3 h3 {
    margin-top: 6px;
    margin-bottom: 12px;
}
.destinosBox img {
    width: 250px;
    height: 350px;
    border-radius: 20px 20px 0 0;
}

@media (max-width: 768px) {
    .destinosBox {
        flex-wrap: wrap;
    }
}





/*======================================*/
/*PAGINA CONTACTO*/
/*======================================*/


form {
    width: 100%;
    height: auto;
    background-color: blueviolet;
}





/*======================================*/
/*PAGINA IMÁGENES: CALAFATE*/
/*======================================*/
#containerGridCalafate {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
    grid-template-areas: 
        /*COL1         COL2        COL3         COL4*/
    "ImgCalafate1 ImgCalafate2 ImgCalafate3 ImgCalafate4" /*FILA#1*/
    "ImgCalafate5 ImgCalafate6 ImgCalafate7 ImgCalafate8" /*FILA#2*/
    ;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.228);
}

.tamañoBox {
    position: relative;
}
.tamañoBox h1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}
.tamañoBox img {
    width: 100%;
    height: 100%;
}


.ImgCalafate1 {
    grid-area: ImgCalafate1;
}
.ImgCalafate2 {
    grid-area: ImgCalafate2;
}
.ImgCalafate3 {
    grid-area: ImgCalafate3;
}
.ImgCalafate4 {
    grid-area: ImgCalafate4;
}
.ImgCalafate5 {
    grid-area: ImgCalafate5;
}
.ImgCalafate6 {
    grid-area: ImgCalafate6;
}
.ImgCalafate7 {
    grid-area: ImgCalafate7;
}
.ImgCalafate8 {
    grid-area: ImgCalafate8;
}

/*======================================*/
/*PAGINA IMÁGENES: CALAFATE / MEDIA QUERIES*/
/*======================================*/
@media (max-width: 768px) {
    #containerGridCalafate {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 200px);
        grid-template-areas: 
        /*COL1         COL2          */
        "ImgCalafate1 ImgCalafate2" /*FILA#1*/
        "ImgCalafate3 ImgCalafate4" /*FILA#2*/
        "ImgCalafate5 ImgCalafate6" /*FILA#2*/
        "ImgCalafate7 ImgCalafate8" /*FILA#2*/
        ;
    }
}

@media (max-width: 480px) {
    #containerGridCalafate {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 160px);
        grid-template-areas: 
            /*COL1*/
        "ImgCalafate1" /*FILA#1*/
        "ImgCalafate2" /*FILA#2*/
        "ImgCalafate3" /*FILA#3*/
        "ImgCalafate4" /*FILA#4*/
        "ImgCalafate5" /*FILA#5*/
        "ImgCalafate6" /*FILA#6*/
        "ImgCalafate7"  /*FILA#7*/
        "ImgCalafate8" /*FILA#8*/
        ;
        justify-content: center;
        text-align: center;
    }

    .tamañoBox img {
        max-width: 80%;
    }
}